# Optemization Docs DB data source ID
DOCS_DATA_SOURCE_ID=7da0cbf5-c760-44a9-a0a4-2fe239efa796

# Hindsight Cloud config
HINDSIGHT_API_URL=https://api.hindsight.vectorize.io
HINDSIGHT_API_KEY=
HINDSIGHT_NAMESPACE=default
HINDSIGHT_BANK_ID=Cerebro
