# Optemization Docs DB data source ID
DOCS_DATA_SOURCE_ID=7da0cbf5-c760-44a9-a0a4-2fe239efa796

# Tier 1 Notion DB data source IDs (backfill-notion-tier-1, Session 2.11)
DISCUSSIONS_DATA_SOURCE_ID=87ca19c6-3c7a-496f-8270-c7119756661d
PROJECTS_DATA_SOURCE_ID=948624e4-d08a-4406-9cd4-56afcc0eba0c
ENGAGEMENTS_DATA_SOURCE_ID=b43b6013-ff9c-4566-bcda-33595bc15630
PLAYBOOK_DATA_SOURCE_ID=d1f3004d-1266-4d1b-900c-d5b8d1dea129
TASKS_DATA_SOURCE_ID=d77c2b3b-fa25-4221-a749-933326fd7a06

# Hindsight Cloud config
HINDSIGHT_API_URL=https://api.hindsight.vectorize.io
HINDSIGHT_API_KEY=
HINDSIGHT_NAMESPACE=default
HINDSIGHT_BANK_ID=Cerebro
